/* Styles for ViewSupportTicket component */

.support-ticket-page {
  font-family: Tahoma;
  background-color: #333;
  /* Greyish background color */
  color: white;
  /* White text color */
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  font-size: 26px;
}

.support-ticket-table {
  width: 100%;
  border-collapse: collapse;
}

.support-ticket-header {
  background-color: #333;
  /* Dark grey background for headers */
  color: white;
  /* White text color for headers */
}

.support-ticket-data {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  color: white;
  /* White text color for data cells */
}

/* Styles for ViewSupportTicket component */

.support-tickets-page {
  font-family: Tahoma;
  background-color: #333;
  /* Greyish background color */
  color: white;
  /* White text color */
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  font-size: 26px;
}

.support-tickets-table {
  width: 100%;
  border-collapse: collapse;
}

.support-tickets-header {
  background-color: #333;
  /* Dark grey background for headers */
  color: white;
  /* White text color for headers */
}

.support-tickets-data {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  color: white;
  /* White text color for data cells */
}

.support-tickets-action-icons {
  display: flex;
  justify-content: center;
}

.support-tickets-action-icon {
  cursor: pointer;
  margin-right: 10px;
}

.support-tickets-icon-circle {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.red-circle {
  background-color: red;
  color: #000;
  margin-right: 7px;
}

.blue-circle {
  background-color: #5bc0de;
  color: #000;
}
.blue-circle:hover {
  background-color: #42b0d1;
}

.support-tickets-icon {
  font-size: 26px;
  margin-right: 7px;
}

/* Add these styles to your CSS file */

.support-tickets-search-and-filter {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-left: -10px;
}

.support-tickets-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 22px;
  width: 200px;
  /* Adjust the width as needed */
}

.support-tickets-search-bar-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.support-tickets-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 22px;
  width: 300px;
  /* Adjust the width as needed */
  margin-right: 15px;
}

.support-tickets-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.support-tickets-pagination-button-first {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.support-tickets-pagination-button-previous {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 3px;
  background-color: #fff;
  color: #000;
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.support-tickets-pagination-button-next {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 3px;
  background-color: #fff;
  color: #000;
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
}

.support-tickets-pagination-button-last {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
}

.support-tickets-pagination-button {
  display: inline-block;
  width: 80px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.support-tickets-pagination-button-first:hover,
.support-tickets-pagination-button-previous:hover,
.support-tickets-pagination-button-next:hover,
.support-tickets-pagination-button-last:hover {
  box-shadow: inset 0 0 0 2px #000;
}

.support-tickets-pagination-button-previous.disabled,
.support-tickets-pagination-button-next.disabled,
.support-tickets-pagination-button-first.disabled,
.support-tickets-pagination-button-last.disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  border: 0px solid #000;
}

.support-tickets-pagination-button-previous.disabled:hover,
.support-tickets-pagination-button-next.disabled:hover,
.support-tickets-pagination-button-first.disabled,
.support-tickets-pagination-button-last.disabled {
  box-shadow: inset 0 0 0 0px #000;
}

.support-tickets-page-input-container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
}

.support-tickets-page-input-container input {
  width: 28px;
  height: 28px;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #000;
  font-size: 20px;
}

.support-tickets-page-input-container input::placeholder {
  color: #aaa;
}

.support-tickets-page-input-container input:focus {
  outline: none;
}

.support-tickets-page-input-container input[type="number"]::-webkit-inner-spin-button,
.support-tickets-page-input-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.support-tickets-page-input-container input[type="number"] {
  -moz-appearance: textfield;
}

.support-tickets-page-input-container input[type="number"]:focus {
  outline: none;
}

.support-tickets-search-bar {
  /* Styles for the entire search bar container */
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 50%;
  margin-top: 80px;
  font-family: Tahoma;
}

.support-tickets-search-bar input {
  /* Styles for the search input */
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 22px;
}

.support-tickets-search-bar-icon {
  /* Styles for the icons within the search bar */
  color: #000;
  margin-right: 15px;
  font-size: 30px;
}

.support-tickets-select {
  /* Styles for the select elements */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  margin-right: 1rem;
  font-size: 26px;
}

/* Add this to your CSS file (ViewSupportTickets.css) */

/* Delete confirmation dialog styles */
.support-tickets-delete-confirmation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.support-tickets-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none; /* Make the overlay non-interactive */
}

.support-tickets-dialog {
  background: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.support-tickets-dialog p {
  font-size: 16px;
  margin: 0;
  font-size: 28px;
  font-family: Tahoma;
  color: white;
}

.support-tickets-button-container {
  margin-top: 20px;
  text-align: center;
}

.support-tickets-confirm-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 24px;
  font-family: Tahoma;
}

.support-tickets-confirm-button:hover {
  background-color: #319134;
}

.support-tickets-cancel-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  font-family: Tahoma;
}

.support-tickets-cancel-button:hover {
  background-color: #c0392b;
}
/* Rest of your existing CSS */

/* ... (other styles) */

/* Styles for the ticket details container */
.support-tickets-ticket-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma;
}

.support-tickets-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.support-tickets-details-dialog {
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  position: relative;
  text-align: left;
  font-size: 24px;
}

.support-tickets-details-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.support-tickets-details-info p {
  margin: 0;
}

.support-tickets-details-description {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.support-tickets-details-description h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  font-size: 24px;
}

.support-tickets-details-description p {
  margin: 0;
  font-size: 1rem;
  color: #666;
  font-size: 24px;
  padding-top: 10px;
}

.support-tickets-reply-button-container {
  text-align: right;
  margin-top: 20px;
}

.support-tickets-close-details-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-family: Tahoma;
}

.support-tickets-reply-main-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-family: Tahoma;
  margin-right: 605px;
  max-width: 300px;
}

.support-tickets-close-details-button:hover {
  background-color: #c0392b;
}

/* ... (other styles) */
/* Styles for the "Reply" button and reply container */
.support-tickets-reply-container {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  margin: 20px 0;
}

.support-tickets-reply-textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-right: 0px;
  color: #000;
  border-radius: 5px;
  font-size: 22px;
  resize: none;
}

.support-tickets-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust as needed */
}

.support-tickets-reply-button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; /* Adjust as needed */
  font-size: 24px;
  font-family: Tahoma;
}

.support-tickets-buttons button {
  background-color: #5bc0de;
}

.support-tickets-buttons button:hover {
  background-color: #42b0d1;
}

/* Add styling for the "Previous Replies" section */
.support-tickets-previous-replies {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-height: 790px;
  overflow-y: auto;
  z-index: 1; /* Add this property */
}

/* Style the horizontal line separator */
.support-tickets-reply-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Style the reply text */
.support-tickets-reply-text {
  font-size: 24px;
  margin-bottom: 10px;
  max-width: 550px;
}

/* Style the reply information (Replier and Created At) */
.support-tickets-reply-info {
  font-size: 20px;
  color: #777;
}

/* Style the Replier username */
.support-tickets-replier {
  margin-right: 20px;
}

/* Style the Created At date */
.support-tickets-created-at {
  margin-left: 20px;
}
