.event-detail-container {
    margin-top: 200px;
    margin-left: 500px;
    max-width: 1200px;
    padding: 20px;
    font-family: Tahoma;
  }
  
  .event-header {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -500px;
    margin-top: -100px;
  }
  
  .event-header .small-icon {
    font-size: 24px;
    margin-right: 5px;
    color: #d11212;
  }
  
  .event-link {
    font-weight: bold;
    text-decoration: none;
    color: #d11212;
    font-size: 24px;
  }
  
  .event-link:hover {
    font-weight: bold;
    text-decoration: none;
    color: #d11212;
  }
  
  .event-name {
    font-size: 24px;
    font-weight: bold;
    color: #191919;
  }
  
  .event-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .event-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
  }
  
  .event-image img {
    max-width: 800px;
    max-height: 800px;
    border-radius: 5px;
  }
  
  .event-description-whole-part {
    margin-top: 600px;
  }

  .event-info {
    flex: 1;
    margin-left: 15px;
  }
  
  .event-name-big {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -1315px;
    margin-top: -5px;
  }
  
  .price-box {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
  }
  
    .ticket-price-info {
        font-size: 18px;
        margin-left: -90px;
        padding-top: 15px;
    }
  
  .ticket-price {
    font-size: 30px;
    padding-top: -5px;
    padding-bottom: 25px;
    font-weight: bold;
    color: #ff6600;
    margin-right: 130px;
  }
  
  .divider {
    margin: 10px -20px;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .ticket-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .control-button {
    background: #191919;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .ticket-input {
    width: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px;
  }
  
  .buy-button {
    background: #191919;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .event-location {
    font-size: 20px;
    text-align: left;
    padding-top: 8px;
    margin-left: 10px;
  }
  
  .location-text {
    color: #ff6600;
    font-weight: bold;
  }
  
  .event-location img {
    width: 16px;
    height: 20px;
  }
  
  .event-description-heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: -815px;
  }
  
  .event-artists-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: -815px;
    color: #ff6600;
  }
  
  .event-artists {
    font-size: 20px;
    margin-top: -24px;
    margin-left: -725px;
    padding-left: 15px;
  }
  
  .artist-name {
    margin-right: 10px;
  }
  
  .event-starting-hour {
    margin-left: -815px;
    padding-bottom: 0px;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .event-closing-hour {
    margin-left: -815px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .event-starting-hour .orange-text {
    color: #ff6600;
    font-weight: bold;
  }
  .event-closing-hour .orange-text {
    color: #ff6600;
    font-weight: bold;
  }
  
  .event-link,
  .small-icon {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  }
  
  .event-link::before,
  .small-icon::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  transition: background-color 0.8s ease, width 0.4s ease;
  z-index: -1;
  }
  
  .event-link::before,
  .small-icon::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  transition: background-color 0.8s ease, width 0.4s ease;
  z-index: -1;
  }
  
  .event-link:hover::before,
  .small-icon:hover::before {
  width: 100%; 
  background: #d11212;
  }
  
  .event-link:hover,
  .small-icon:hover {
  color: #191919; 
  }
  
  
  .event-info-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 20px;
  }
  
  .horizontal-line {
  width: 800px;
  height: 1px;
  background-color: #ddd;
  transition: margin-top 0.3s ease, opacity 0.3s ease;
  }
  
  .horizontal-line.above {
  margin-left: -1215px;
  margin-bottom: 30px; 
  }
  
  .horizontal-line.below {
  margin-top: 30px;
  margin-left: -1215px;
  transition: margin-top 0.6s ease;
  }
  
  .event-info-toggle .horizontal-line.below.expanded {
  margin-top: 40px;
  }
  
  .extra-info {
  margin-top: 10px;
  margin-left: -1220px;
  max-width: 795px;
  padding-top: 20px;
  font-size: 20px;
  color: #191919;
  overflow: hidden;
  height: auto;
  visibility: hidden;
  max-height: 0;
  opacity: 0.0001;
  transition: max-height 1.6s ease, visibility 1.6s ease, opacity 1.6s ease;
  }
  
  .event-info-toggle .extra-info.show-info {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1.6s ease, visibility 1.6s ease, opacity 1.6s ease;
  }
  
  .event-info-header {
  color: #191919;
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  margin-left: -1780px;
  }
  
  .event-info-artists-header {
    color: #191919;
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  margin-right: 30%;
  }
  
  .event-info-header:hover + .horizontal-line.above,
  .event-info-header:hover + .horizontal-line.below {
  background-color: #ff6600;
  transition: background-color 0.3s ease;
  }
  
  .see-more {
  color: #191919;
  cursor: pointer;
  text-decoration: underline;
  margin-top: -25px;
  margin-left: -500px;
  font-size: 18px;
  }
  
  .see-more:hover {
  color: #ff6600;
  transition: color 0.3s ease;
  }
  
  .not-logged-in-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #990904;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 0.5s ease-in-out forwards, slide-out 0.5s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 20px;
  font-size: 20px;
  }
  
  .successful-cart-addition-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(16, 177, 16);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 0.5s ease-in-out forwards, slide-out 0.5s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 20px;
  font-size: 20px;
  }
  
  @keyframes slide-in {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
  }
  
  @keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: -80px;
  }
  }