/* Registration.module.css */

.registration-form {
  border: 1px solid #ccc; /* Add border */
  border-radius: 2px; /* Remove rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #f4f4f4;
  padding: 20px; /* Add some padding to the form */
  margin-left: 34%;
  margin-top: 7%;
  width: 30%;
  min-width: 400px;
}

.registration-form h2 {
  font-size: 35px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 100px;
  width: 100%; /*input fields length */
}

.registration-form p {
  font-size: 18px;
  text-align: justify;
}

.form-group select {
  flex: 1;
  padding: 12px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px; /* Increased font size */
  margin-right: 10px;
}

/* Remove spacing between day, month, and year dropdowns */
.form-group select:last-child {
  margin-right: 0;
}

.form-group input {
  flex: 1; /* Make the text input fields span 100% */
  padding: 11px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px; /* Increased font size */
  margin-right: 10px; /* Add spacing between input fields */
  font-family: Arial, Helvetica, sans-serif;
  height: 30px; /* input fields height */
  font-weight: 100;
}

.form-group input::placeholder {
  font-weight: 100;
  color: black;
}
/* Remove spacing between text input fields */
.form-group input:last-child {
  margin-right: 0;
}

.register-button {
  background-color: #FE6F57;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 18px 24px; /* Increased padding */
  cursor: pointer;
  font-size: 28px; /* Increased font size */
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.register-success-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 0.5s ease-in-out forwards, slide-out 0.5s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 20px;
}

.register-fail-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #990904;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 0.5s ease-in-out forwards, slide-out 0.5s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 20px;
  font-size: 20px;
}

@keyframes slide-in {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: -80px;
  }
}

.register-eye-icon {
  width: 30px;
  height: 30px;
  right: 5%;
  cursor: pointer;
  position: relative;
  margin-left: -40px;
}

.register-show-password {
  width: 379px; /* Adjust as needed to prevent resizing */
  padding-right: 11px; /* Adjust as needed to prevent resizing */
  padding-bottom: 15px; /* Adjust as needed to prevent resizing */
  overflow: hidden;
}