.navbar {
    position: fixed; /* Set the navigation bar to a fixed position */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it span the full width of the viewport */
    background-color: #191717;
    color: white;
    height: 80px; /* Set a fixed height for the navigation bar */
  display: flex; /* Use flexbox to center items vertically */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Add space between items */
  padding: 0 20px; /* Adjust horizontal padding */
  font-family: Tahoma;
  }
  
  .nav-list {
    list-style: none;
    display: flex; /* Make the list items display horizontally */
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 30px; /* Add spacing between navigation items */
    margin-left: 0px; /* Add spacing between navigation items */
    margin-top: 22px;
    font-size: 20px;
  }

  
  .nav-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    
  display: flex; /* Add this to enable flex layout */
  align-items: center; /* Center items vertically */
  }

  .nav-image {
    width: 70px; /* Set the desired width for the image */
    height: 70px; /* Set the desired height for the image */
    margin-right: 30px; /* Adjust spacing between the image and text */
  }

  .nav-image-container {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  
  /* Existing CSS styles for .navbar and other elements */

/* Add this CSS for the hover effect */
.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* Add transition for text color change */
  }
  
  /* Add a pseudo-element for the white bar */
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Place the bar at the bottom of the link */
    width: 100%;
    height: 3px;
    background-color: #FE6F57;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s; /* Add transition for scaling animation */
    opacity: 0; /* Initially hide the bar */
    bottom: -5px;
  }
  
  /* Apply the hover effect */
  .nav-link:hover::after {
    transform: scaleX(1);
    opacity: 1; /* Show the bar on hover */
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 0px;
    /* Add any additional styles you want to position the right-aligned items */
  }
 
  .my-profile-arrow {
    font-size: 20px; /* Adjust the size of the arrow as needed */
    vertical-align: middle; /* Vertically align the arrow with the text */
    margin-left: 10px; /* Add some spacing between the text and arrow */
  }

  .shopping-bag {
    margin-top: -5px; /*adjust shopping bag position - change nav-right margin top as well*/
    font-size: 30px;
    vertical-align: middle; /* Vertically align the arrow with the text */
  }

  .notification-bell {
    margin-top: -20px; /*adjust shopping bag position - change nav-right margin top as well*/
    font-size: 30px;
    vertical-align: middle; /* Vertically align the arrow with the text */
  }

  .shopping-bag-dot {
    position: absolute;
    margin-top: 30px; /* Adjust the top position to place the dot correctly */
    margin-left: 10px; /* Adjust the right position to place the dot correctly */
    width: 28px;
    height: 28px;
    background-color: red;
    border-radius: 50%; /* Create a circular shape for the dot */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma;
  }
  
  .custom-notification-bell {
    font-size: 30px;
    cursor: pointer;
    /* Add animation properties */
  }
  
  .notification-count {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .notification-menu {
    position: absolute;
  top: 45px; /* Adjust the top position as needed */
  right: 0;
  max-height: 500px; /* Set the maximum height to 500px */
  width: 440px; /* Set the width to 300px */
  background-color: #3e3e3e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  overflow-y: auto; /* Add a scroll bar if content overflows */
  margin-right: 170px;
  margin-top: 30px;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .notification-item:hover {
    background-color: #4c4c4c;
    border-radius: 5px;
    cursor: pointer;
  }

  .notification-profile-image {
    width: 50px;
    height: 52px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .notification-text {
    flex: 1;
    max-width: 300px; 
    word-wrap: break-word;
  }

  .notification-username {
    color: orange;
    font-weight: bold;
  }
  
  .notification-comment {
    color: white;
  }
  

  .notification-date {
    color: orange;
    font-weight: bold;
  }

  /* Existing CSS styles */

/* Add these styles for the ellipsis icon and options menu */
.ellipsis-icon {
  font-size: 26px; /* Adjust the size of the ellipsis icon */
  cursor: pointer;
  position: absolute; /* Use absolute positioning relative to the nearest positioned ancestor (.notification-item) */
  margin-left: 400px;
  margin-top: -16px;
}

.notification-options {
  position: absolute;
  right: 60px;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  width: 140px; /* Adjust the width as needed */
  font-size: 19px; /* Adjust the font size of options */
}

/* Style for the buttons within the options menu */
.notification-options button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 0;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
  font-family: Tahoma;
}

.notification-options button:hover {
  background-color: #3e3e3e;
}

.success-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 1.0s ease-in-out forwards, slide-out 1.0s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 120px;
}

.fail-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #990904;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: slide-in 1.0s ease-in-out forwards, slide-out 1.0s ease-in-out 3.5s forwards;
  z-index: 999;
  margin-top: 20px;
  font-size: 20px;
}


/* Animation for sliding the message box in */
@keyframes slide-in {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

/* Animation for sliding the message box out */
@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: -250px;
  }
}

.custom-notification-dot {
  position: absolute;
  margin-top: -15px; /* Adjust the top position to place the dot correctly */
  margin-left: 16px; /* Adjust the right position to place the dot correctly */
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%; /* Create a circular shape for the dot */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Tahoma;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 1s ease-in-out infinite;
}

/* Add this CSS code to your existing styles */
.unread-message-dot {
  position: absolute;
  margin-top: -20px; /* Adjust the top position to place the dot correctly */
  margin-left: 360px; /* Adjust the left position to place the dot correctly */
  width: 16px; /* Set the desired width for the dot */
  height: 16px; /* Set the desired height for the dot */
  background-color: orange; /* Change the background color to orange */
  border-radius: 50%; /* Create a circular shape for the dot */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Set the font size for the dot */
  font-weight: bold;
  font-family: Tahoma;
}


.no-notifications-message {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}