/* ProfileDropdown.module.css */
.dropdown {
    position: absolute;
    top: 100%; /* Position the dropdown just below the "My Profile" tab */
    right: 7.9%;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -10px; /* change distance from 'My Profile' text to end start of the menu */
    border-radius: 5px;
    opacity: 0; /* Start with opacity at 0 to hide the dropdown */
    transition:opacity 0.3s ease; /* Add a transition for opacity with a opacity with a 0.3s duration */
  }
  
  .dropdown.active {
    display: block;
    opacity: 1;
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  
  .dropdown-list li {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Add a border-bottom to create dividing lines */
  }
  
  .dropdown-list li:last-child {
    border-bottom: none; /* Remove the border-bottom for the last item */
  }

  .dropdown-list li a {
    text-decoration: none;
    color: #333;
  }
  